/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */
.Header {
  background-color: aqua;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

/* Body */
.Body {
  padding: 20px;
}

/* Footer */
.Footer {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Navigation Styles */
nav {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #ff6600;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

nav div {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
}

nav div h3 {
  margin-top: 0;
}

nav input {
  border-radius: 10px;
  padding: 5px;
  width: 300px;
}

/* App Styles */
.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}

.product-container {
  margin-bottom: 20px;
  padding: 10px;
}

.product-height {
  overflow: scroll;
  height: 350px;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.product-height::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.product-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 10px 0;
  flex-direction: column;
}

.product-list::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
}

.product-list::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.product-list::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

.product {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  flex: 0 0 auto; /* Prevent shrinking and allow wrapping */
}

.product img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product h2 {
  margin-top: 10px;
}

.product p {
  margin: 10px 0;
}

.product button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.product button:hover {
  background-color: #0056b3;
}

.addproduct {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.addproduct h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.addproductform {
  display: grid;
  gap: 20px;
}

.addproductform label {
  font-size: 18px;
  color: #555;
}

.addproductform input[type="text"],
.addproductform textarea {
  width: calc(100% - 20px);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addproductform input[type="file"] {
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addproductform button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
}

.addproductform button[type="submit"]:hover {
  background-color: #0056b3;
}

.product-detail {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product-detail h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.product-detail p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
  display: grid;
}

.editButton {
  padding: 10px 20px;
  background-color: #0033ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.deleteButton {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.deleteButton:hover {
  background-color: #b30000;
}

.editButton:hover {
  background-color: #215799;
}
